# Ignore node_modules folder
# node_modules/
__pycache__/
# Ignore log files
# *.log

# Ignore compiled binaries
# *.exe
# *.dll
# *.so

# Ignore large media files
# my_large_file.mp4
*.pth
*.cpython-310.pyc
test.py